<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <enabled>true</enabled>
  <investment>
    <enabled>true</enabled>
    <gdpPerInvestmentPointBillions>100</gdpPerInvestmentPointBillions>
    <lowIncomeMultiplierAtZero>0.7</lowIncomeMultiplierAtZero>
    <lowIncomeThreshold>15000</lowIncomeThreshold>
    <outputMultiplier>1.05</outputMultiplier>
  </investment>
  <economy>
    <enabled>true</enabled>
    <baseGainBillions>1</baseGainBillions>
    <educationPerLevel>0.15</educationPerLevel>
    <governmentPerLevel>0.05</governmentPerLevel>
    <cohesionCenter>5</cohesionCenter>
    <cohesionPeak>1.2</cohesionPeak>
    <cohesionPenaltyPerPoint>0.04</cohesionPenaltyPerPoint>
    <referenceCoreRegions>1</referenceCoreRegions>
    <referenceEducation>7</referenceEducation>
    <referenceGovernment>6</referenceGovernment>
    <referenceCohesion>5</referenceCohesion>
    <laborKneePcgdp>37500</laborKneePcgdp>
    <resourceKneePcgdp>55000</resourceKneePcgdp>
    <startingLaborReturnFloor>0.35</startingLaborReturnFloor>
    <startingResourceReturnFloor>0.45</startingResourceReturnFloor>
    <technologyReliefLinearShare>0.1</technologyReliefLinearShare>
    <minimumSupport>0.05</minimumSupport>
    <laborPressureExponent>1.4</laborPressureExponent>
    <resourcePressureExponent>1.2</resourcePressureExponent>
    <resourceDirectLift>1</resourceDirectLift>
    <landDirectLift>0.25</landDirectLift>
    <coreRegionMaximumBonus>1.2</coreRegionMaximumBonus>
    <coreRegionHalfSaturation>2</coreRegionHalfSaturation>
  </economy>
  <technology>
    <enabled>true</enabled>
    <maximumMultiplier>4</maximumMultiplier>
    <researchCostEnabled>true</researchCostEnabled>
    <researchCostMultiplier>1.4</researchCostMultiplier>
  </technology>
  <abundance>
    <enabled>true</enabled>
    <referenceGdpPerResourceRegionBillions>1000</referenceGdpPerResourceRegionBillions>
    <minimumGdpBillions>1</minimumGdpBillions>
    <resourceMaximumBonus>1</resourceMaximumBonus>
    <resourceCurveExponent>0.3</resourceCurveExponent>
    <referenceDensity>50</referenceDensity>
    <minimumDensity>0.1</minimumDensity>
    <landMaximumBonus>0.25</landMaximumBonus>
    <landCurveExponent>1</landCurveExponent>
    <landReferencePcgdp>30000</landReferencePcgdp>
    <landMinimumWealthRelevance>0.25</landMinimumWealthRelevance>
    <maximumUnrest>10</maximumUnrest>
    <unrestExponent>1</unrestExponent>
  </abundance>
  <inequality>
    <enabled>true</enabled>
    <economyEnabled>true</economyEnabled>
    <welfareEnabled>true</welfareEnabled>
    <spoilsEnabled>true</spoilsEnabled>
    <minimum>1</minimum>
    <neutral>5</neutral>
    <maximum>9</maximum>
    <exponent>2</exponent>
    <referenceGdpBillions>100</referenceGdpBillions>
    <minimumGdpBillions>1</minimumGdpBillions>
    <economyChangeAtReferenceGdp>0.0005</economyChangeAtReferenceGdp>
    <welfareChangeAtReferenceGdp>-0.00666666</welfareChangeAtReferenceGdp>
    <spoilsChangeAtReferenceGdp>0.00333334</spoilsChangeAtReferenceGdp>
    <climateChangeMultiplier>2</climateChangeMultiplier>
    <economyMaximumResourceMultiplier>0.6</economyMaximumResourceMultiplier>
    <spoilsMaximumResourceMultiplier>1</spoilsMaximumResourceMultiplier>
  </inequality>
  <controlCost>
    <enabled>true</enabled>
    <projectBonusesAsPercent>true</projectBonusesAsPercent>
    <countryCostMultiplier>1.2</countryCostMultiplier>
    <arrivalInternationalRelationsReduction>0.02</arrivalInternationalRelationsReduction>
    <unityMovementsReduction>0.03</unityMovementsReduction>
    <greatNationsReduction>0.05</greatNationsReduction>
    <arrivalGovernanceReduction>0.05</arrivalGovernanceReduction>
    <accelerandoReduction>0.05</accelerandoReduction>
  </controlCost>
  <councilors>
    <enabled>true</enabled>
    <totalAttributeCap>50</totalAttributeCap>
    <maximumOrganizations>18</maximumOrganizations>
  </councilors>
  <army>
    <enabled>true</enabled>
    <costCoefficient>2</costCoefficient>
    <costGrowthBase>2</costGrowthBase>
    <repairShare>0.5</repairShare>
    <homeUpkeepDivisor>10</homeUpkeepDivisor>
    <awayUpkeepDivisor>3</awayUpkeepDivisor>
    <combatModifierScale>0.5</combatModifierScale>
    <maximumStrengthPenalty>1</maximumStrengthPenalty>
    <hitCurveBase>2</hitCurveBase>
    <megafaunaEnabled>true</megafaunaEnabled>
    <megafaunaMaximumTechLevel>5</megafaunaMaximumTechLevel>
  </army>
  <shipBalance>
    <enabled>true</enabled>
    <correctPowerPlantWasteHeat>true</correctPowerPlantWasteHeat>
    <openCycleResidualHeatEnabled>true</openCycleResidualHeatEnabled>
    <openCycleDriveHeatFraction>0.01</openCycleDriveHeatFraction>
    <crewSupportMassEnabled>true</crewSupportMassEnabled>
    <crewSupportMass_tons>3</crewSupportMass_tons>
  </shipBalance>
  <research>
    <enabled>true</enabled>
    <neutralControlPointResearchEnabled>true</neutralControlPointResearchEnabled>
    <coefficient>0.0037</coefficient>
    <referencePcgdp>20000</referencePcgdp>
    <minimumPcgdpMultiplier>0.6</minimumPcgdpMultiplier>
    <educationExponent>2</educationExponent>
    <democracyFloor>0.1</democracyFloor>
    <democracyExponent>0.2</democracyExponent>
    <cohesionCenter>5</cohesionCenter>
    <cohesionPeak>1.25</cohesionPeak>
    <cohesionPenaltyPerPoint>0.1</cohesionPenaltyPerPoint>
    <unrestGrace>2</unrestGrace>
    <unrestPenaltyDivisor>10</unrestPenaltyDivisor>
  </research>
  <knowledge>
    <enabled>true</enabled>
    <educationPopulationDivisor>166667</educationPopulationDivisor>
    <educationMaximumGain>4</educationMaximumGain>
    <educationDecay>0.87</educationDecay>
    <cohesionPopulationDivisor>333333</cohesionPopulationDivisor>
    <cohesionTarget>5</cohesionTarget>
  </knowledge>
  <government>
    <enabled>true</enabled>
    <democracyPopulationDivisor>166667</democracyPopulationDivisor>
  </government>
  <military>
    <enabled>true</enabled>
    <doctrineBaseCostAtTechOne>500</doctrineBaseCostAtTechOne>
    <doctrineCostGrowthBase>2</doctrineCostGrowthBase>
    <catchupGapCoefficient>1</catchupGapCoefficient>
  </military>
  <nationalMergers>
    <enabled>true</enabled>
    <militaryEnabled>true</militaryEnabled>
    <inequalityEnabled>true</inequalityEnabled>
    <inequalityMinimum>1</inequalityMinimum>
    <inequalityMaximum>9</inequalityMaximum>
    <minimumPerCapitaGdp>1</minimumPerCapitaGdp>
    <inequalityBoundaryEpsilon>1E-06</inequalityBoundaryEpsilon>
  </nationalMergers>
  <oppression>
    <enabled>true</enabled>
    <unrestPopulationDivisor>2222222</unrestPopulationDivisor>
    <fullDemocracy>10</fullDemocracy>
  </oppression>
  <environment>
    <enabled>true</enabled>
    <cleanupAtReferenceGdp>0.1</cleanupAtReferenceGdp>
    <referenceGdpBillions>100</referenceGdpBillions>
    <minimumGdpBillions>1</minimumGdpBillions>
    <falloutReferenceAreaKm2>100000</falloutReferenceAreaKm2>
    <minimumLandAreaKm2>1</minimumLandAreaKm2>
    <climateGdpDamageEnabled>true</climateGdpDamageEnabled>
    <climateGdpDamageMultiplier>0.9</climateGdpDamageMultiplier>
  </environment>
  <emissions>
    <enabled>true</enabled>
    <tonsPerGdpBillion>275000</tonsPerGdpBillion>
    <maximumResourceIntensityMultiplier>1.25</maximumResourceIntensityMultiplier>
    <co2TonsMultiplier>0.3292</co2TonsMultiplier>
    <methaneTonsMultiplier>0.00547619</methaneTonsMultiplier>
    <nitrousOxideTonsMultiplier>0.000214533</nitrousOxideTonsMultiplier>
    <monthsPerYear>12</monthsPerYear>
  </emissions>
  <unity>
    <enabled>true</enabled>
    <cohesionPopulationDivisor>3333333</cohesionPopulationDivisor>
    <educationPopulationDivisor>-33333</educationPopulationDivisor>
    <educationAndGovernmentPenaltyPerLevel>0.025</educationAndGovernmentPenaltyPerLevel>
    <minimumCohesionMultiplier>0.5</minimumCohesionMultiplier>
    <propagandaMultiplier>0.2</propagandaMultiplier>
  </unity>
  <spoils>
    <enabled>true</enabled>
    <governmentPopulationDivisor>-66667</governmentPopulationDivisor>
    <sustainabilityChangeAtReferenceGdp>0.05</sustainabilityChangeAtReferenceGdp>
    <referenceGdpBillions>100</referenceGdpBillions>
    <minimumGdpBillions>1</minimumGdpBillions>
    <maximumResourceSustainabilityMultiplier>2</maximumResourceSustainabilityMultiplier>
    <propagandaMultiplier>0.2</propagandaMultiplier>
  </spoils>
  <spoilsMoney>
    <enabled>true</enabled>
    <baseMoney>60</baseMoney>
    <maximumResourceMultiplier>4</maximumResourceMultiplier>
    <governmentBaseMultiplier>1.3</governmentBaseMultiplier>
    <governmentPenaltyPerLevel>0.03</governmentPenaltyPerLevel>
    <fullGovernment>10</fullGovernment>
  </spoilsMoney>
  <regionThresholds>
    <enabled>true</enabled>
    <multiplier>5</multiplier>
    <oilRemovalInvestmentPoints>500</oilRemovalInvestmentPoints>
    <miningRemovalInvestmentPoints>750</miningRemovalInvestmentPoints>
    <economicUpgradeInvestmentPoints>1200</economicUpgradeInvestmentPoints>
    <decolonizationInvestmentPoints>1000</decolonizationInvestmentPoints>
    <falloutCleanupInvestmentPoints>100</falloutCleanupInvestmentPoints>
  </regionThresholds>
  <ui>
    <enabled>true</enabled>
    <expandedTooltips>true</expandedTooltips>
  </ui>
</Settings>
